/*-----------------------------
Overriding jquery UI theme
-----------------------------*/
body, input, select, textarea, button, .ui-btn {
	font-family: 'Open Sans', sans-serif !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background: url(worn_dots.png) !important;
}
.ui-btn-icon-right:after {
	background-color: #f59b3f !important;
}
.ui-input-btn {
	background-color: #f59b3f !important;
	text-shadow: none !important;
	color: #fff !important;
}
.ui-input-btn:hover {
	background-color: #f9ae4d !important;
}
.ui-input-btn:active {
	background-color: #ff6600 !important;
}
.ui-link {
	text-shadow: none !important;
}
/*a:active {
	background-color: #ddd !important;
}*/
/*-----------------------------
Back button on details page
-----------------------------*/
header a:visited {
	background-color: #f9ae4d !important;
}
header a:active {
	background-color: #ff6600 !important;
}
.ui-listview>.ui-li-static {
	padding-top: 0 !important;
}
.ui-listview>.ui-li-static.ui-last-child {
	border-bottom-width: 0 !important;
	padding: 0px !important;
}
.ui-first-child {
	margin-top: 15px !important;
}

/*-----------------------------
Custom agjusting
-----------------------------*/
#notes {
	margin-top: 10px;
}
section {
	text-align: center;
}
#details, #note-default-det {
	padding: 0 10px;
   background-color: white;
	text-align: left;
	line-height: 1.5;
}
/*-----------------------------------------------
Making textarea placeholder less contrast on focus
-------------------------------------------------*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } 
input:focus::-moz-placeholder { color:transparent; } 
input:focus:-ms-input-placeholder { color:transparent; } 

/*-----------------------------------------------
Media query for desktop version
-------------------------------------------------*/
@media only screen and (min-width: 700px) {
	section {
		width: 414px;
	}
	.ui-content {
		margin: 0 auto;
	}
};