/*
I usually separate reset.css and use autoprefixer to keep my code 
cleaner and more readable. However, for this small project I decided 
to go without additional files and ready-to-use tools.

As of background, I would use an original image and add CSS filter 
(brightness) on top. For this case I used my photoshop skills :-)

There are more than one font used on design mockups. They are very
similar, but some of the letters are slightly different, though.
I decided to use 'Source Sans Pro' for the entire page as it was used
for numbers in mockups. It looks very clean and well readable.

*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@font-face {
    font-family: fc-icons;
    src: url(https://static.fundingcircle.com/css/fonts/fc-icons-71d15095.eot);
    src: url(https://static.fundingcircle.com/css/fonts/fc-icons-71d15095.eot?#iefix) format('eot'), 
        url(https://static.fundingcircle.com/css/fonts/fc-icons-cf594c24.woff) format('woff'), 
        url(https://static.fundingcircle.com/css/fonts/fc-icons-5d84499b.ttf) format('truetype'), 
        url(https://static.fundingcircle.com/css/fonts/fc-icons-4fb35645.svg#fc-icons) format('svg');
    font-weight: 400;
    font-style: normal
}

/*----------------------------
    Reset CSS
------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------------
    Base settings
-----------------------------*/
html, body {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
a, button {
    cursor: pointer;
}
button {
    border: none;
}
/*----------------------------
    Header
------------------------------*/
header {
    background: url(../images/header.png) no-repeat; 
    background-size: cover;
    color: white;
    height: 20.5rem;
    width: 100%; 
}
h1 {
    font-size: 3rem;
    line-height: 2rem;
    font-weight: bold;
}
h2 {
    margin-top: 1.1rem;
    font-size: 1.23rem;
}
.wrap-centered {
    padding-top: 5.8rem; 
    margin: 0 auto;
    text-align: center;
}
.btn-main {
    background-color: #097fc9; /*fallback color*/
    background: -webkit-linear-gradient(#2a8bd5 50%, #097fc9 50%);
    background: -o-linear-gradient(#2a8bd5 50%, #097fc9 50%);
    background: linear-gradient(#2a8bd5 50%, #097fc9 50%);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 9rem;
    height: 3rem;
    margin-top: 2.25rem;    
}
.btn-main:hover {
    background-color: #1482d6; /*fallback color*/ 
    background: -webkit-linear-gradient(#1482d6 50%, #046bac 50%);
    background: -o-linear-gradient(#1482d6 50%, #046bac 50%);
    background: linear-gradient(#1482d6 50%, #046bac 50%);  
}

/*------------------------
Marketplace section desktop
------------------------*/
#marketplace-data {
    width: 100%;
    height: 40rem;
    position: relative;
    background-color: #f6f5f3;
}
a {
    color: #097fc9;
    text-decoration: none;
}
.skip-header-link {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f6f5f3;
    position: absolute;
    top: -1.8rem;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    z-index: 2;
    width: 3.7rem;
    height: 3.7rem;
    font-size: 1.875rem;
    line-height: 2rem;
    text-align: center;
}
.wrap-data {
    padding: 2.5rem 3rem 0px 3rem;
}
#marketplace-table {
    background-color: #fff;
    color: #383838;
    width: 100%;
    max-width: 81.25rem;
    text-align: left;
    border-bottom: 0.125rem solid #f0efec;
    font-size: 0.9rem;
    line-height: 1.3rem;
}
caption {
    text-align: left;
    margin: 1rem 0 1.78rem;
    font-size: 2rem;
    letter-spacing: -0.05rem;
}

/*aligning table data*/
td:nth-child(3) ,
th:nth-child(3) , 
th:nth-child(7) {
    text-align: center;
}
.cell-value {
    text-align: right;
}
.cell-text {
    text-align: left;
}
thead, tbody tr:nth-child(even) {
    background: #fdfdfc;
}
thead {
    color: #097fc9;
    font-weight: bold;
    font-size: 0.7rem;
}
td,
th {
    vertical-align: middle;
}
th {
    color: #097fc9
}
tbody tr {
    border: 0.0625rem solid #f6f5f3;
    height: 2.5rem;
}
tbody tr:hover {
    background-color: #f3f3f0 !important;
    cursor: pointer;
}
thead tr {
    height: 1.875rem;
}
thead th:hover {
    text-decoration: underline;
    cursor: pointer;
}
.first-cell {
    background-color: #707070;
    width: 3.438rem;
}
th:nth-child(2) {
    padding-left: 1.25rem;
}
.progress-bar-full {
    margin: 0 auto;
    display: block;
    height: 0.625rem;
    width: 3.75rem;
    background-color: #78c738;
}
.progress-bar-ongoing {
    background: -webkit-linear-gradient(left, #78c738 70%, #dddddd 30%);
    background: -o-linear-gradient(left, #78c738 70%, #dddddd 30%);
    background: linear-gradient(left, #78c738 70%, #dddddd 30%);
}
/*cells width adjust*/
    th:nth-child(1),
    td:nth-child(1) {
        width: 6.02%;
    }
    th:nth-child(2),
    td:nth-child(2) {
        width: 35.2%;
    }
    th:nth-child(3),
    td:nth-child(3) {
        width: 7.2%;
    }
    th:nth-child(4),
    td:nth-child(4) {
        width: 7.4%;
    }
    th:nth-child(5),
    td:nth-child(5) {
        width: 7.6%;
    }
    th:nth-child(6),
    td:nth-child(6) {
        width: 9.25%;
    }
    th:nth-child(7),
    td:nth-child(7) {
        width: 13.7905%;
    }
    th:nth-child(8),
    td:nth-child(8) {
        width: 13.5395%;
    }

/*----------------------
Pagination
---------------------*/
.pagination {
    text-align: center;
    margin-top: 1rem;
    max-width: 81.25rem;
}
.btn-pagination {
    height: 1.875rem;
    background-color: #fff;
    color: #097fc9;
    padding: 0.375rem 0.69rem;
    font-size: 0.9rem;
    font-weight: bold;
    vertical-align: middle;
}
.btn-pagination:nth-child(n+2) {
    margin-left: 0.75rem;
}
.btn-pagination.btn-active-page {
    background-color: transparent;
    color: #383838;
}

a.btn-pagination:hover {
    text-decoration: underline;
}

/*------------------------
Marketplace table mobile
--------------------------*/
@media only screen and (min-width: 320px) and (max-width: 840px) {
    header {
        background: #383838;
        height: 21.25rem;
    }
    h1 {
        font-size: 1.9rem;
        line-height: 2.3rem;
    }
    h2 {
        font-size: 1.2rem;
        padding: 0 10%;
    }
    .wrap-centered {
        padding-top: 3.4rem;
    }
    .btn-main {
        margin-top: 1.4rem;
        font-size: 1rem;
    }
    .btn-pagination {
        margin-left: 0;
    }
    .btn-pagination:nth-child(n+2) {
        margin-left: 0.5rem;
    }
    .skip-header-link {
        top: -1.6rem;
    }
    #marketplace-table {
        background-color: transparent;
        border-spacing: 0 0.4375rem;
        border-collapse: separate;
        border: none;
        width: 100%;
    }
    caption {
        margin: 1.2rem 0 1rem 0.5rem;
    }
    .progress-bar-ongoing, .progress-bar-full {
        display: none;
    }
    td:nth-child(4){
        text-align: left;
        padding-left: 0.75rem;
    }
    tbody th  {
        display: block;
        position: absolute;
        padding: 0.75rem 0 0.75rem 0.625rem;
        font-size: 0.8rem;
    }
    thead, 
    .first-cell {
        display: none;
    }
    thead, tbody tr:nth-child(even) {
        background: transparent;
    }
    tbody th:hover {
        text-decoration: underline;
    }
    td:before {
        display: block;
        content: attr(data-th);
        font-weight: bold;
        color: #707070;
        font-size: 0.6rem;
    }
    td {
        padding: 2.5rem 0 0.75rem 0px;
        font-size: 0.8rem;
        background-color: #fff;
        border-bottom: 0.125rem solid #eeedeb;
    }
    th {
        display: none;
    }
    .wrap-data {
        padding: 1.813rem 0.625rem 0 0.625rem;
    }
    th:nth-child(2) {
        padding-left: 0.625rem;
        width: 100%;
    }
    .loan-title-mob {
        display: block;
    }
    .pagination {
        margin-top: 0.6rem;
    }
    
    /*cells width adjust*/
    td:nth-child(3) {
        width: 10.5%;
        padding-left: 3%;
    }
    td:nth-child(4) {
        width: 23%;
    }
    td:nth-child(5) {
        width: 19%;
        text-align: center;
    }
    td:nth-child(6) {
        width: 20.5%;
        text-align: center;
    }
    td:nth-child(8) {
        width: 27%;
    }
    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(7) {
        width: 0;
    }
}
@media only screen and (min-width: 350px) and (max-width: 383px) {
    .wrap-centered {
        padding: 3.4rem 1rem 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .btn-main {
        font-size: 1rem;
    }
}
